 <% if @number %>
     <h1>Mi cuenta es : <%= @number %></h1>
     <% else %>
     <h1>Mi cuenta es : 0</h1>
    <% @number = 0 %>
  <% end %>
   <form action="/">
    <input type="submit" value="Suma">
    <input type="hidden" value="<%= @number.to_i + 1 %>" name="number">
  </form>
